@font-face {
	font-family: "Bubblegum";
	src: url("../../assets/fonts/bubblegum.otf");
}

@font-face {
	font-family: "Londrina";
	src: url("../../assets/fonts/londrina.otf");
}


html{
	font-size: 20px;
	font-style: normal;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
	color: white;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
	background-color: #fff;
	width: 100%;
	font-family: Roboto;
	background: url('../../assets/img/background.png') repeat;
	height: 768px;
	overflow-y: hidden; 
}

h1, h2, h3, h4, h5, h6{

}

em{

}

strong{

}

.color-1{
	background-color: #b1f6cb;
	//background: url('../../assets/img/background.png') repeat;
}

.color-2{
	background-color: #2ecc71;
}

.color-3{
	background-color: #3498db;
}

.color-4{
	background-color: #9b59b6;
}

.color-5{
	background-color: #34495e;
}

.uppercase{
	text-transform: uppercase;
}

.container{
	display: block;
	width: 100%;
	height: 768px;
	position: relative;
}

.text-center{
	text-align: center;
}

.headline{
	color: rgba(209,21,46,0.76);
	font-family: "Bubblegum";
    letter-spacing: .05em;
    text-shadow: 
		4px 4px 0px #e5e5d5, 
		7px 7px 0px rgba(30, 20, 20, 0.2);
}