.index{
	display: block;
	position: relative;
	width: 1368px;
	height: 4224px;
	margin: 0 auto;
	-webkit-transition: all 1s;
	transition: all 1s;
}

body {
	overflow: hidden;
}

div[class^='state'], div[class*=' state']{
	display: block;
	position: relative;
	width: 100%;
	height: 1056px;
	margin: 0;
	padding: 0;
}

.change-to-state-1{
	margin-top: 0;
}

.change-to-state-2{
	margin-top: -1056px;
}

.change-to-state-3{
	margin-top: -2122px;
}

.change-to-state-4{
	margin-top: -3168px;
}

div.state-4{
	padding: 64px 128px;
}

.back{
	cursor: pointer;
}

.animation {
	position: fixed;
}

#welcome {
	text-align: center;
	padding-top: 128px;
	font-size: 128px;
}

#moving-element{
	height: 1056px;
	width: 30px;
	position: absolute;
	left: -10px;
	box-shadow: 10px 0 16px rgba(255, 255, 255, 0.3);
}

#info {
	text-align: center;
	font-size: 96px;
	width: 1024px;
	padding-top: 32px;
}

.article {
	width: 320px;
	height: 420px;
	background-color: rgba(255, 255, 255, .66);
	box-shadow: 0px 0px 15px gray;
	padding: 16px;
	margin: 15px;
	overflow: hidden;
	display: inline-block;
	white-space: normal;
}

.article .article-name {
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 4px;
	height: 72px;
	overflow: hidden;
}

.article .article-image-container {
	height: 200px;
	overflow: hidden;
	background-image: url('');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.article .article-description {
	font-size: 16px;
	padding-top: 16px;
	height: 100px;
}

.article .article-time {
	float: left;
	font-size: 12px;
}

.article .article-location {
	float: right;
	font-size: 12px;
}

#example-1{
	position: absolute;
	left: 260px;
	margin-top: 72px;
	-webkit-transform: rotate(7deg);
}

#example-2{
	position: absolute;
	left: 620px;
	-webkit-transform: rotate(-1deg);
}

#example-3{
	position: absolute;
	left: 960px;
	margin-top: -196px;
	-webkit-transform: rotate(-10deg);
}

.state-2 .article{
	height: 320px;
}

.state-2 .article .article-description{
	visibility: hidden;
}

.state-3 #header {
	font-size: 48px;
	padding: 32px;
}

#article-list {
	white-space: nowrap;
	overflow-x: auto;
	width: 1280px;
	height: 480px;
	margin-left: 24px;
	padding-left: 128px;
	padding-right: 128px;
}

#article-fade-right {
	height: 480px;
	width: 128px;
	background: -webkit-linear-gradient(left, transparent, #3498db);
	position: absolute;
	margin-top: -480px;
	right: 64px;
}

#article-fade-left {
	height: 480px;
	width: 128px;
	background: -webkit-linear-gradient(left, #3498db, transparent);
	position: absolute;
	margin-top: -480px;
	left: 24px;
}

.state-4 .article-detail-image, .state-4 .article-detail-main{
	position: absolute;
	top: 0;
}

.state-4 .article-detail-main{
	width: 636px;
	height: 636px;
}

.state-4 .article-detail-main h1{
	margin-top: 0;
}

.state-4 .article-detail-image{
	width: 436px;
	height: 436px;
	background-image: url('');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	left: 0;
}


.state-4 .article-detail-main{
	right: 0;
}