body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.index{
	display: block;
	position: relative;
	width: 1368px;
	height: 4224px;
	margin: 0 auto;
	-webkit-transition: all 1s;
	transition: all 1s;
}

div[class^='state'], div[class*=' state']{
	display: block;
	position: relative;
	width: 100%;
	height: 1056px;
	margin: 0;
	padding: 0;
}

.change-to-state-1{
	margin-top: 0;
}

.change-to-state-2{
	margin-top: -1056px;
}

.change-to-state-3{
	margin-top: -2122px;
}

.change-to-state-4{
	margin-top: -3168px;
}

.interactive .state-3 .back{
	display: none;
}

.interactive .state-1 .forward{
	display: none;
}

.interactive .state-2 .forward{
	display: none;
}

div.state-4{
	padding: 92px 128px 0px;
}

.back{
	position: absolute;
	top: 30px;
	left: 20px;
	cursor: pointer;
	width: 52px;
	height: 52px;
}

.forward{
	position: absolute;
	top: 660px;
	left: 657px;
	cursor: pointer;
	width: 52px;
	height: 52px;
}

.animation {
	position: fixed;
}

#welcome {
	text-align: center;
	padding-top: 128px;
	font-size: 148px;
}

#moving-element{
	height: 1056px;
	width: 30px;
	position: absolute;
	left: -10px;
	box-shadow: 10px 0 16px rgba(255, 255, 255, 0.3);
}

#info {
	text-align: center;
	font-size: 96px;
	width: 1024px;
	padding-top: 32px;
}

#present-img{
	display: block;
	position: absolute;
	max-width: 30%;
	right: -40px;
	top: 480px;
	z-index: -1;
}

.article {
	width: 320px;
	height: 420px;
	background-color: rgba(255, 255, 255, .66);
	box-shadow: 0px 0px 15px gray;
	padding: 16px;
	margin: 15px;
	overflow: hidden;
	display: inline-block;
	white-space: normal;
}

.article .article-name {
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 4px;
	height: 72px;
	overflow: hidden;
}

.article .article-image-container {
	height: 200px;
	overflow: hidden;
	background-image: url('');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom bottom;
}

.article .article-description {
	font-size: 16px;
	padding-top: 16px;
	height: 100px;
}

.article .article-time {
	float: left;
	font-size: 12px;
}

.article .article-location {
	float: right;
	font-size: 12px;
}

#example-1{
	position: absolute;
	left: 200px;
	margin-top: 30px;
	-webkit-transform: rotate(7deg);
}

#example-2{
	position: absolute;
	left: 620px;
	top: 290px;
	-webkit-transform: rotate(-1deg);
}

#example-3{
	position: absolute;
	left: 960px;
	margin-top: -196px;
	-webkit-transform: rotate(-10deg);
}

.state-2 .article{
	height: 320px;
	pointer-events: none;
}

.state-2 .article .article-description{
	visibility: hidden;
}

.state-3 #header {
	width: 1024px;
	text-align: center;
	font-size: 80px;
	padding-bottom: 24px;
	padding-top: 24px;
}

#article-list {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	width: 1280px;
	height: 480px;
	margin-left: 24px;
	padding-left: 128px;
	padding-right: 128px;
}

.articles-container{
	position: absolute;
	top: 0;
	left: 0;
}

.article-slider{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 920px;
	height: 30px;
}

.scroll-button{
	position: absolute;
	display: block;
	width: 52px;
	height: 52px;
	background: #999;
	top: 630px;
	text-align: center;
	border-radius: 2px;
}

.scroll-button i{
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	color: #eee;
	font-size: 42px;
}

.scroll-button-left{
	left: 100px;
}

.scroll-button-right{
	right: 100px;
}

#article-fade-right {
	height: 480px;
	width: 128px;
	//background: -webkit-linear-gradient(left, transparent, #1abc9c);
	position: absolute;
	margin-top: -480px;
	right: 64px;
	pointer-events: none;
}

#article-fade-left {
	height: 480px;
	width: 128px;
	//background: -webkit-linear-gradient(left, #1abc9c, transparent);
	position: absolute;
	margin-top: -480px;
	left: 24px;
	pointer-events: none;
}

.css-animation {
	-webkit-transition: .2s ease-in-out;
}

.wiggle-in {
	-webkit-transition: .2s ease-in-out;
	-webkit-transform: rotate(3deg);
}

.wiggle-out {
	-webkit-transition: .2s ease-in-out;
	-webkit-transform: rotate(-3deg);
}

.state-4 .loading-overlay{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../../assets/img/background.png') repeat;
	text-align: center;
}

.state-4 .loading-overlay img{
	position: relative;
	width: 64px;
	height: 64px;
	margin-top: 260px;
	background: transparent;
	-webkit-animation: spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { 
	-moz-transform:rotate(360deg); 
	}
}
@-webkit-keyframes spin { 100% { 
	-webkit-transform:rotate(360deg); 
	}
}
@keyframes spin { 100% {
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
	}
}

.state-4 .article-detail-image, .state-4 .article-detail-main{
	position: absolute;
	top: 0;
}

.state-4 .article-detail-main{
	width: 636px;
	height: 636px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 28px;
	border: 2px rgba(20, 20, 20, 0.08) solid;
}

.state-4 .article-detail-main h1{
	//font-family: "Bubblegum";
	font-weight: 700;
	color: #444;
	margin-top: 0;
	margin-bottom: 22px;
}

.state-4 .article-detail-image{
	width: 436px;
	height: 436px;
	background-image: url('../../assets/img/placeholder.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	left: 0;
}


.state-4 .article-detail-main{
	right: 0;
}

.state-4 .article-detail-description{
	max-height: 200px;
	overflow: hidden;
	overflow-y: scroll; 
	text-overflow: ellipsis;
	padding-bottom: 12px;
}

.state-4 .article-detail-time, .state-4 .article-detail-place{
	display: block;
}

.state-4 .article-detail-time{
	float: left;
}

.state-4 .article-detail-time:before{
	content: 'Eingestellt: ';
}

.state-4 .article-detail-place{
	float: right;
}

#generate-qr{
	display: block;
	position: absolute;
	left: 0;
	top: 480px;
	font-size: 32px;
}
